/* Pallet */
:root {
    --bg: #353535;
    --primary: #11F3A2;
    --secondary: #A8EFD6;
    --font: white;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background: var(--bg);
    font-family: 'Roboto', sans-serif;
    color: var(--font);
}

.home {
    width: 100%;
    height: 100vh;
}

.home__title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    padding: 3rem;
}

.home__title__text {
    font-size: 3rem;
    text-shadow: 0 0 5rem rgba(17,243,162, .8);
    transition: all 1s;
}

.home__nav__button {
    background-color: transparent;
    border: none;
    color: var(--primary);
    font-size: 3rem;
    transition: text-shadow .5s;
}

.home__nav__button:hover {
    cursor: pointer;
    text-shadow: 0 0 5rem rgba(17,243,162, .8);
}

.home__nav__button:active {
    color: var(--secondary);
}

.home__nav__button:focus {
    outline: none;
}

.home__nav__dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-10.1rem);
}

.home__nav__dropdown a {
    float: none;
    color: var(--bg);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.home__nav__dropdown a:hover {
    cursor: pointer;
    background-color: var(--primary);
}

.home__main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.home__main > h2 {
    text-align: center;
    margin: 2rem 0;
}

.home__games {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 4rem;
    margin: 0 auto;
    list-style: none;
}

.home__game {
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__game__figure > figcaption {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.home__game__figure > img {
    border-radius: 1rem;
    box-shadow: .5rem .5rem .3rem rgba(17,243,162, .8);
}

.home__game__button {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    margin-top: 1rem;
}

.home__game__button:active{
    transform: translate(-50%, .3rem) !important; /*Deze overwrite de u-button-style omdat de center voor deze buttons gedaan is via position absolute */
}

.home__footer {
    width: 100%;
    height: auto;
    bottom: 0;
    padding: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    position: fixed;
    background-color: rgba(53, 53, 53, .7);
}

.home__footer__icon {
    color: red;
    margin-bottom: .2rem;
}

.defaultGame {
    width: 100%;
    height: 100vh;
}

.defaultGame__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
}

.defaultGame__title__button {
    position: fixed;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: var(--primary);
    top: 2rem;
    left: 2rem;
    transition: text-shadow .5s;
}

.defaultGame__title__button:hover {
    cursor: pointer;
    text-shadow: 0 0 5rem rgba(17,243,162, .8);
}

.defaultGame__title__button:active {
    color: var(--secondary);
}

.defaultGame__title__text{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.defaultGame__footer {
    height: 10%;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.defaultGame__footer__list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.defaultGame__footer__list__item {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    z-index: 1;
}

.defaultGame__footer__list__item:nth-of-type(2) {
    border-left: solid .2rem var(--bg);
    border-right: solid .2rem var(--bg);
}

.defaultGame__footer__list__item:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.defaultGame__footer__list__item:active {
    box-shadow: inset .2rem .2rem .3rem rgba(0, 0, 0, .5);
}

.defaultGame__footer__list__item:active i{
    transform: translate(.1rem, .1rem);
}

.defaultGame__footer__list__item > button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.defaultGame__footer__list__item > button:hover {
    cursor: pointer;
}

.defaultGame__footer__list__item > button > i {
    color: var(--bg);
    font-size: 3rem;
}

.defaultGame__popups {
    display: none;
    position: fixed;
    width: 100%;
    height: 60%;
    bottom: 10%;
}

.defaultGame__popups__popup {
    display: none;
    position: absolute;
    background-color: var(--secondary);
    color: black;
    bottom: 0;
    width: 100%;
    height: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    animation-name: popup;
    animation-duration: 1s;
    animation-timing-function: ease;
    border: solid .1rem var(--primary);
    padding: 0 2rem;
}

.defaultGame__popups__popup > h2{
    text-align: center;
    font-size: 2.4rem;
    margin: 1rem;
}

.popup__closeBtn {
    position: inherit;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.popup__closeBtn:hover {
    cursor: pointer;
}

@keyframes popup {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes popdown {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

.tsPos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2rem;
}

.tsPos__team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tsPos__team__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.tsPos__team__img {
    margin-bottom: 2rem;
}

.tsPos__team__pos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 10rem;
    height: 10rem;
    font-size: 4rem;
    border: solid .2rem black;
    border-radius: 1.5rem;
}

.ts {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ts__cardWrapper {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 2s;
}

.ts__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    background-color: var(--secondary);
    border-radius: 1.5rem;
    position: absolute;
}

.ts__card__form {
    list-style: none;
}

.ts__card__form__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    margin-bottom: 1.5rem;
}

.ts__card__form__item > input {
    margin-left: 10rem;
}

.ts__card__form__item:last-of-type{
    margin-bottom: 0;
}

.ts__back {
    z-index: -1;
    transform: rotateY(180deg);
}

.ts__timer {
    margin-top: 12rem;
    width: 30rem;
    text-align: center;
}

.ts__timer__line {
    width: 100%;
    height: 1.5rem;
    border: solid .1rem var(--primary);
}

.ts__timer__line > section {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
}

.ts__timer__time {
    margin-top: 1rem;
}

.ts__btns {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}

/* TRIVIAL PURSUIT */

.trivialpursuit__header{
    width: 100%;
    height: 20%;
    padding: 2rem;
    color: var(--primary);
    position: relative;
    overflow: hidden;
}

.trivialpursuit__title{
    text-align: center;
    font-weight: 400;
    font-size: 300%;
    text-shadow: 0 0 5rem rgb(17 243 162 / 80%);
    transition: 1s all;
}

.trivialpursuit__title:hover{
    transform: scale(1.05);
}

.trivialpursuit__desc{
    font-weight: 400;
    font-style: italic;
    font-size: 150%;
    text-align: center;
}

.trivialpursuit__home{
    font-weight: 400;
    font-size: 200%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.trivialpursuit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trivialpursuit__section{
    background-color: var(--primary);
    width: 60rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.8rem;
}

.trivialpursuit__section--flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trivialpursuit__section__title{
    font-weight: 400;
    font-size: 175%;
    margin-bottom: 1rem;
}

.trivialpursuit__section__text{
    margin-bottom: 1rem;
}

.trivialpursuit__section__categorie-text{
    margin-left: 2rem;
    margin-top: -0.5rem;
}

.trivialpursuit__categorie{
    margin: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.trivialpursuit__btn{
    font-size: 120%;
    width: 25rem;
    height: 5rem;
    color: var(--secondary) i !important;
}

.trivialpursuit__btn[data-categorie="WetenschapNatuur"]{
    background-color: lightblue;
}

.trivialpursuit__btn[data-categorie="Sport"]{
    background-color: orange;
}

.trivialpursuit__btn[data-categorie="KunstLiteratuur"]{
    background-color: plum;
}

.trivialpursuit__btn[data-categorie="Geschiedenis"]{
    background-color: red;
}

.trivialpursuit__btn[data-categorie="Amusument"]{
    background-color: hotpink;
}

.trivialpursuit__btn[data-categorie="Aardrijkskunde"]{
    background-color: green;
}

.trivialpursuit__article{
    width: 40vw;
    height: 60vh;
    background-color: var(--primary);
    color: var(--secondary) i;
    padding: 2rem;
    margin: 4rem;
    border-radius: 0.8rem;
    text-align: center;
}

.trivialpursuit__question{
    font-weight: 400;
    font-size: 200%;
    margin-bottom: 2rem;
    text-align: left;
}

.trivialpursuit__answer{
    height: 6rem;
    width: 60%;
    padding: 1rem;
    font-size: 150%;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.trivialpursuit__send{
    height: 6rem;
    width: 50%;
    padding: 1rem;
    font-size: 120%;
    color: var(--secondary) i !important;
    background-color: var(--bg) !important;
}

.trivialpursuit__pie_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.trivialpursuit__pie{
    height: 25rem;
    width: 100%;
}

.trivialpursuit__items{
    width: 100%;
    height: 6rem;
    margin-top: 1rem;
    opacity: 0.4;
    color: var(--bg);
    text-align: center;
    line-height: 6rem;
}

.trivialpursuit__items[data-type-categorie="WetenschapNatuur"]{
    background-color: lightblue;
}

.trivialpursuit__items[data-type-categorie="Sport"]{
    background-color: orange;
}

.trivialpursuit__items[data-type-categorie="KunstLiteratuur"]{
    background-color: plum;
}

.trivialpursuit__items[data-type-categorie="Geschiedenis"]{
    background-color: red;
}

.trivialpursuit__items[data-type-categorie="Amusument"]{
    background-color: hotpink;
}

.trivialpursuit__items[data-type-categorie="Aardrijkskunde"]{
    background-color: green;
}


@media only screen and (max-width: 62.5rem){
    .trivialpursuit__article{
        width: 60vw;
    }

    .trivialpursuit__answer{
        width: 80%;
    }

    .trivialpursuit__send{
        width: 60%;
    }
}

@media only screen and (max-width: 40.625rem){
    .trivialpursuit__header{
        padding: 0.5rem;
    }

    .trivialpursuit__home{
        position: fixed;
        top: 90%;
        background-color: rgba(53, 53, 53, 0.8);
        border-radius: 0.8rem;
        padding: 1rem;
        z-index: 3;
    }

    .trivialpursuit__article{
        width: 80vw;
    }

    .trivialpursuit__send{
        width: 85%;
    }
}

@media only screen and (max-width: 25rem){
    .trivialpursuit__categories{
        width: 100%;
    }

    .trivialpursuit__categorie{
        width: 90%;
    }

    .trivialpursuit__btn{
        width: 100%;
    }

    .trivialpursuit__article{
        width: 95vw;
        margin: 2rem;
    }

    .trivialpursuit__answer{
        width: 90%;
    }
}


/* Utility classes */

.u-button-style {
    background-color: var(--primary);
    font-family: 'Roboto', sans-serif;
    color: var(--bg);
    border: none;
    box-shadow: 0 .3rem 0 white, 0 0 2rem rgba(17,243,162, .8);
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: all .2s;
}

.u-button-style:hover {
    cursor: pointer;
    box-shadow: 0 .3rem 0 white, 0 0 4rem rgba(17,243,162, .8);
}

.u-button-style:active {
    cursor: pointer;
    box-shadow: 0 0 0 white, 0 0 4rem rgba(17,243,162, .8);
    transform: translateY(.3rem);
    outline: none;
}

.u-button-style:focus {
    outline: none;
}

.u-button-style:disabled {
    background-color: rgba(17,243,162, .5);
    cursor: default;
    box-shadow: 0 0 0 white, 0 0 0 rgba(17,243,162, .8);
    transform: translateY(.3rem);
    outline: none;
}


/* Media queries */

@media(min-width: 37.5rem){
    .home__games {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(min-width: 56.25rem){
    .home__games {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .home__title__text {
        font-size: 4rem;
    }

    .home__nav__button {
        font-size: 4rem;
    }
}

@media(min-width: 75rem){
    .home__games {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media(min-width: 93.75rem){
    .home__title__text {
        font-size: 5rem;
    }

    .home__nav__button {
        font-size: 5rem;
    }

    .home__games {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .home__footer {
        justify-content: flex-end;
        padding: 1.5rem 3rem;
    }
}

@media(min-width: 112.5rem){
    .home__games {
        column-gap: 6rem;
    }
}

.vg__objects{
    background-color: #11F3A2;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(20px, auto) 1fr 1fr 1fr;
}


.vg__section__list__item:nth-last-child(){

    background-color: black;
    height: 4rem;
    width: 4rem;
}

.vg__section__list__item__image{

    
    max-width: 2rem;
    height: 2rem;
    width: 100%;
}

.fa-comment-alt.icon__badge {
    position: relative;
}

.fa-comment-alt.icon__badge::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: -1rem;
    right: -1rem;
    background: red;
}

.livechat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(100% - 10rem);
    overflow-y: auto;
}

.livechat__item {
    padding: 2rem;
    border-radius: .375rem;
    background-color: white;
    align-self: flex-end;
    margin: 1rem;
    text-align: right;
    max-width: 80%;
}

.livechat__item__username {
    font-weight: bold;
}

.livechat__item--me {
    align-self: flex-start;
    text-align: left;
}

.livechat__item--console {
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.livechat__item--console .livechat__item__username {
    color: orangered;
}

.livechat__form {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.livechat__form__input {
    border: none;
    width: calc(100% - 10rem);
    box-sizing: border-box;
    padding: 1rem;
}

.livechat__form__input--submit {
    box-sizing: border-box;
    width: 8.5rem;
    margin-right: 1rem;
}