.ts {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ts__state > p {
    pointer-events: none;
    opacity: 1;
}

.ts__cardWrapper {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 2s;
    transform: rotateY(180deg);
}

.ts__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    background-color: var(--secondary);
    border-radius: 1.5rem;
    position: absolute;
}

.ts__card__form {
    list-style: none;
    width: 100%;
}

.ts__card__form__item {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    color: black;
    margin: 0 3rem 1.5rem 3rem;
}

.ts__card__form__item > label {
    grid-column: span 11;
}

.ts__card__form__item > input {
    grid-column: span 1;
}

.ts__card__form__item:last-of-type{
    margin-bottom: 0;
}

.ts__back {
    z-index: -1;
    transform: rotateY(180deg);
}

.ts__timer {
    margin-top: 12rem;
    width: 30rem;
    text-align: center;
}

.ts__timer__line {
    width: 100%;
    height: 1.5rem;
    border: solid .1rem var(--primary);
}

.ts__timer__line > section {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
}

.ts__timer__time {
    margin-top: 1rem;
}

.ts__btns {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}